<div class="section-header">
  <div class="section-header__left">
    @if (icon()) {
      <span class="section-header__badge">
        <svg lucideIcon [lucideIcon]="icon()!" class="section-header__icon" [size]="22" />
      </span>
    }
    <div>
      <h1>{{ title() }}</h1>
      @if (subtitle()) {
        <p class="subtitle">{{ subtitle() }}</p>
      }
    </div>
  </div>
  @if (showAdd()) {
    <button class="add-btn" (click)="add.emit()">
      <svg lucideIcon="plus" [size]="16" />
      {{ addLabel() }}
    </button>
  }
</div>
